.crew_page_{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assests/crew/background-crew-desktop.jpg');
}
@media(max-width:430px){
    .crew_info_{
        height: 60vh !important;
    }
}
@media (min-width: 768px) {
    .crew_info_{
        height: 65vh !important;
    }
    .crew_info_ > h3{
        transform: translateX(-25%);
        font-size: 1.1rem !important;
    }
    .crew_info_ .text >pre{
        text-align: center;
    }
    .crew_image {
        width: 50%;
        max-height:100%;
    }

}
/* Desktop version */
@media (min-width: 992px) {
    .crew_info_, .crew_photo_{
        height: 100vh !important;
    }
    .crew_info_ > h3{
        transform: translateX(0);
        font-size: 1.5rem !important;
    }
    .crew_info_ .text{
        padding-left: 13%;
        margin-top: 25%;
    }
    .text h2, .text h1 , .text pre{
        text-align: left !important;
    }   
    .text pre{
        width: 85%;
        white-space: pre-wrap;
        word-wrap: break-word;   
     }
     .crew_image{
        width: 65%;
     }
}
@media (min-width: 1400px) {
    .crew_image{
        width: 49%;
    }
}
.crew_info_{
    height: 50vh;
}
.crew_photo_{
    height: 60vh;
}

.crew_info_ h3{
    font-family: "Barlow Condensed";
    font-size: 1.3rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 4px;
}
.crew_info_ h3 span{
    opacity: 0.5;
    font-weight: bold;
    letter-spacing: 4px;
}
.text h1, .text h2, .text p{
    font-weight: 400;
}
.text h1{
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Bellefair;
    font-size: 56px;
    color: rgba(255, 255, 255, 1);
}
.text pre{
    font-family: Barlow;
    font-size: 18px;
    color: rgba(208, 214, 249, 1);
    line-height: 180%;
}
.text h2{
     font-family: Bellefair;
     font-size: 32px;
     color: rgba(255, 255, 255, 1);
     opacity: 0.5;
}
.crew_image{
    object-fit: contain;
}
.navBtn{
    width: 60%;
    background-color: #fff;
}
.navBtn li{
    width: 80px;
    height: 80px;
    background-color: #333;
    border-radius: 50%;
}
.navBtn li {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: grey ;
    border-radius: 50%;
    cursor: pointer;
}
.crew_photo_{
    position: relative;
}
.crew_image ::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, rgba(11, 13, 23, 1) 0%, rgba(11, 13, 23, 0) 100%);
    pointer-events: none;
}
.mobileParagraph{
    padding-left: 20px;
    padding-right: 20px;
    font-family: Barlow;
    font-size: 15px;
    color: rgba(208, 214, 249, 1);
    line-height: 180%;
    text-align: center;

}
.active {
    background-color: #fff !important;
}
.fadeIn{
    animation: fadeIn .5s ease-in-out !important;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@media (min-width: 768px) {
    .crew_info_{
        position: relative;
        padding-bottom: 5%;
    }
    .crew_info_>h3{
        position: absolute;
        left: 10%;
        top: 18%;
    }
}
